<div class="container">
    <div class="form-inline col-md-4">

        <input class="form-control" style="margin:10px 0px" type="search" placeholder="Filtrar por ID de pedido ó Fecha de entrega" [(ngModel)]="query">
        <button class="btn btn-info" style="margin:10px 0px" (click)="ngOnInit()">Buscar</button>
    </div>

    <table class="table table-striped table-over">
        <tr>
            <th>ID Pedido</th>
            <th>Fecha de entrega</th>
            <th>Producto</th>
            <th>Cantidad pedido</th>
            <th>Cantidad en stock</th>
            <th>Proveedor</th>
        </tr>

        <tr *ngFor="let row of data">
            <td>{{row.numeroPedido}}</td>
            <td>{{row.fecha}}</td>
            <td>{{row.nombreProducto}}</td>
            <td>{{row.cantidad}}</td>
            <td>{{row.cant}}</td>
            <td>{{row.proveedor}}</td>
        </tr>

    </table>
</div>