<div class="panel-body">
    <table class="table table-striped table-over">
        <tr>
            <th>ID Pedido</th>
            <th>Fecha de entrega</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Proveedor</th>
        </tr>

        <tr *ngFor="let row of data">
            <td>{{row.numeroPedido}}</td>
            <td>{{row.fecha}}</td>
            <td>{{row.nombreProducto}}</td>
            <td>{{row.cantidad}}</td>
            <td>{{row.proveedor}}</td>
        </tr>

    </table>
</div>